@import 'twemoji-awesome.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
}
body::-webkit-scrollbar-track
{
    background-color: #FFFFFF;
}

body::-webkit-scrollbar
{
    width: 10px;
    background-color: #FFFFFF;
}

body::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

.hero-icon {
    background-position: center;
    background-repeat: no-repeat;
}
.hero-icon.generate {
    background-image: url('/img/generate.png');
}
.hero-icon.implement {
    background-image: url('/img/implement.png');
}
.hero-icon.deploy {
    background-image: url('/img/deploy.png');
}

.documentation strong {
    font-weight: 700;
}

.documentation a {
    @apply underline text-black hover:text-gray-400;
}

.documentation a.header-link {
    text-decoration: none;
}
