@import 'twemoji-awesome.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
}

body::-webkit-scrollbar-track,
.documentation .code::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

body::-webkit-scrollbar,
.documentation .code::-webkit-scrollbar {
    background-color: #FFFFFF;
}

body::-webkit-scrollbar {
    width: 10px;
}

.documentation .code::-webkit-scrollbar {
    height: 10px;
}

body::-webkit-scrollbar-thumb,
.documentation .code::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    border-radius: 10px;
}

.nav-link {
    text-underline-offset: 10px;
}

nav,
#content {
    max-width: 1200px;
}

#how-it-works-container {
    margin: 0 140px;
}

.hero-icon {
    background-position: center;
    background-repeat: no-repeat;
}

.hero-icon.generate {
    background-image: url('/img/generate.png');
}

.hero-icon.implement {
    background-image: url('/img/implement.png');
}

.hero-icon.deploy {
    background-image: url('/img/deploy.png');
}

.list-disc {
    margin-left: 1.5rem;
}

.list-circle {
    margin-left: 3rem;
}

.list-square {
    margin-left: 4.5rem;
}

.documentation-menu {
    min-width: 300px;
}

.documentation {
    max-width: calc(1200px - 300px - 3rem);
}

@media (max-width: 1204px) {
    .documentation {
        max-width: 100%;
    }
}

.documentation strong {
    font-weight: 700;
}

.documentation a {
    text-decoration: underline;
    color: #0092FF;
}

.documentation a:hover {
    text-decoration: underline;
    @apply text-gray-400;
}

.documentation a.header-link {
    text-decoration: none;
    color: #000000;
}

.documentation a.header-link:hover {
    @apply text-gray-400;
}

.documentation .inline-code {
    white-space: pre;
    @apply text-red-400 bg-gray-100 py-1 rounded-lg;
    padding-left: 0.333rem;
    padding-right: 0.333rem;
    font-weight: 700;
    font-family: monospace;
}

.documentation .code {
    overflow-x: scroll;
    white-space: nowrap;
}

.documentation .copy-code {
    background-image: url('/img/copy.png');
    background-repeat: no-repeat;
    background-position: top right;
    object-fit: contain;
}

.documentation .copy-code:active {
    filter: invert(0);
}

.checkbox {
    --background: #fff;
    --border: #d1d6ee;
    --border-hover: #bbc1e1;
    --border-active: #1e2235;
    --tick: #fff;
    position: relative;
    cursor: pointer;
}
.checkbox input,
.checkbox svg {
    width: 21px;
    height: 21px;
    display: inline-block;
}
.checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
}
.checkbox input:hover {
    --s: 2px;
    --b: var(--border-hover);
}
.checkbox input:checked {
    --b: var(--border-active);
}
.checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    transform: scale(var(--scale, 1)) translateZ(0);
}
.checkbox.path input:checked {
    --s: 2px;
    transition-delay: 0.4s;
}
.checkbox.path input:checked + svg {
    --a: 16.1 86.12;
    --o: 102.22;
}
.checkbox.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
}
.checkbox.bounce {
    --stroke: var(--tick);
}
.checkbox.bounce input:checked {
    --s: 11px;
}
.checkbox.bounce input:checked + svg {
    -webkit-animation: bounce 0.4s linear forwards 0.2s;
    animation: bounce 0.4s linear forwards 0.2s;
}
.checkbox.bounce svg {
    --scale: 0;
}

.checkbox-content {
    position: relative;
    bottom: 2px;
    padding-left: 0.75rem;
}

.code-checklist {
    padding-left: 2rem;
}

@-webkit-keyframes bounce {
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounce {
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
